<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Elasticsearch\Model\Adapter\FieldMapperInterface" type="Magento\Elasticsearch\Model\Adapter\FieldMapper\FieldMapperResolver" />
    <preference for="Magento\Framework\Search\Dynamic\DataProviderInterface" type="Magento\Elasticsearch\SearchAdapter\Dynamic\DataProvider" />
    <preference for="Magento\Elasticsearch\Model\DataProvider\Base\GetSuggestionFrequencyInterface" type="Magento\Elasticsearch\Model\DataProvider\Base\GetSuggestionFrequency"/>
    <type name="Magento\Elasticsearch\Model\Config">
        <arguments>
            <argument name="engineList" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">elasticsearch5</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Elasticsearch\Model\Adapter\Index\BuilderInterface" type="Magento\Elasticsearch\Model\Adapter\Index\Builder" />
    <preference for="Magento\Elasticsearch\Model\Adapter\Index\Config\EsConfigInterface" type="Magento\Elasticsearch\Model\Adapter\Index\Config\EsConfig" />
    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item sortOrder="10" name="elasticsearch5" xsi:type="string">Elasticsearch 5.0+ (Deprecated)</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\AdvancedSearch\Model\Client\ClientResolver">
        <arguments>
            <argument name="clientFactories" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">\Magento\Elasticsearch\Elasticsearch5\Model\Client\ElasticsearchFactory</item>
            </argument>
            <argument name="clientOptions" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">Magento\Elasticsearch\Model\Config</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Adapter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">elasticsearch5</item>
            </argument>
            <argument name="defaultEngine" xsi:type="string">elasticsearch5</argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\ConnectionManager">
        <arguments>
            <argument name="clientFactory" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Client\ClientFactoryProxy</argument>
            <argument name="clientConfig" xsi:type="object">Magento\Elasticsearch\Model\Config</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Elasticsearch\Elasticsearch5\SearchAdapter\ConnectionManager" type="Magento\Elasticsearch\SearchAdapter\ConnectionManager">
        <arguments>
            <argument name="clientFactory" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Client\ClientFactoryProxy</argument>
            <argument name="clientConfig" xsi:type="object">Magento\Elasticsearch\Model\Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Elasticsearch\Elasticsearch5\Model\Client\ElasticsearchFactory" type="Magento\AdvancedSearch\Model\Client\ClientFactory">
        <arguments>
            <argument name="clientClass" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\Model\Client\Elasticsearch</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Client\ClientFactoryProxy">
        <arguments>
            <argument name="clientFactories" xsi:type="array">
                <item name="elasticsearch5" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\Model\Client\ElasticsearchFactory</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Adapter">
        <arguments>
            <argument name="connectionManager" xsi:type="object">Magento\Elasticsearch\Elasticsearch5\SearchAdapter\ConnectionManager</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Search\Dynamic\IntervalFactory">
        <arguments>
            <argument name="intervals" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">Magento\Elasticsearch\Elasticsearch5\SearchAdapter\Aggregation\Interval</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Search\Dynamic\DataProviderFactory">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">Magento\Elasticsearch\SearchAdapter\Dynamic\DataProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Indexer\Config\DependencyInfoProvider">
        <plugin name="indexerDependencyUpdaterPlugin" type="Magento\Elasticsearch\Model\Indexer\Plugin\DependencyUpdaterPlugin"/>
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\Query\Preprocessor\Stopwords">
        <arguments>
            <argument name="stopwordsModule" xsi:type="string">Magento_Elasticsearch</argument>
            <argument name="stopwordsDirectory" xsi:type="string">stopwords</argument>
        </arguments>
    </type>
    <!-- @api -->
    <virtualType name="Magento\Elasticsearch\Model\Adapter\Index\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">Magento\Elasticsearch\Model\Adapter\Index\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">Magento\Elasticsearch\Model\Adapter\Index\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">esconfig.xml</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Elasticsearch\Model\Adapter\Index\Config\EsConfig">
        <arguments>
            <argument name="reader" xsi:type="object">Magento\Elasticsearch\Model\Adapter\Index\Config\Reader</argument>
            <argument name="cacheId" xsi:type="string">elasticsearch_index_config</argument>
        </arguments>
    </type>
    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="elasticsearch5" xsi:type="string">Magento\Elasticsearch\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\Dynamic\DataProvider">
        <arguments>
            <argument name="indexerId" xsi:type="const">\Magento\Elasticsearch\Model\Indexer\Fulltext::INDEXER_ID</argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\Model\Adapter\Elasticsearch">
        <arguments>
            <argument name="staticFieldProvider" xsi:type="object">elasticsearch5StaticFieldProvider</argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\Search\PageSizeProvider">
        <arguments>
            <argument name="pageSizeBySearchEngine" xsi:type="array">
                <item name="elasticsearch5" xsi:type="number">10000</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\Query\ValueTransformerPool">
        <arguments>
            <argument name="valueTransformers" xsi:type="array">
                <item name="default" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Query\ValueTransformer\TextTransformer</item>
                <item name="date" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Query\ValueTransformer\DateTransformer</item>
                <item name="float" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Query\ValueTransformer\FloatTransformer</item>
                <item name="double" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Query\ValueTransformer\FloatTransformer</item>
                <item name="integer" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Query\ValueTransformer\IntegerTransformer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\SearchAdapter\Query\ValueTransformer\TextTransformer">
        <arguments>
            <argument name="preprocessors" xsi:type="array">
                <item name="stopwordsPreprocessor" xsi:type="object">Magento\Elasticsearch\SearchAdapter\Query\Preprocessor\Stopwords</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Elasticsearch\Setup\InstallConfig">
        <arguments>
            <argument name="searchConfigMapping" xsi:type="array">
                <item name="elasticsearch-host" xsi:type="string">elasticsearch5_server_hostname</item>
                <item name="elasticsearch-port" xsi:type="string">elasticsearch5_server_port</item>
                <item name="elasticsearch-timeout" xsi:type="string">elasticsearch5_server_timeout</item>
                <item name="elasticsearch-index-prefix" xsi:type="string">elasticsearch5_index_prefix</item>
                <item name="elasticsearch-enable-auth" xsi:type="string">elasticsearch5_enable_auth</item>
                <item name="elasticsearch-username" xsi:type="string">elasticsearch5_username</item>
                <item name="elasticsearch-password" xsi:type="string">elasticsearch5_password</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Setup\CompositeInstallConfig">
        <arguments>
            <argument name="installConfigList" xsi:type="array">
                <item name="elasticsearch5" xsi:type="object">Magento\Elasticsearch\Setup\InstallConfig</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\SearchEngine\Validator">
        <arguments>
            <argument name="excludedEngineList" xsi:type="array">
                <item name="elasticsearch" xsi:type="string">Elasticsearch 2</item>
            </argument>
            <argument name="engineValidators" xsi:type="array">
                <item name="elasticsearch5" xsi:type="object">Magento\Elasticsearch\Setup\Validator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Search\Model\ResourceModel\SynonymGroup">
        <plugin name="synonymReaderPlugin" type="Magento\Elasticsearch\Model\Indexer\Fulltext\Plugin\Search\Model\SynonymReaderPlugin"/>
    </type>
    <type name="Magento\Elasticsearch\Model\Indexer\IndexerHandler">
        <arguments>
            <argument name="cacheContext" xsi:type="object">Magento\Framework\Indexer\CacheContext\Proxy</argument>
        </arguments>
    </type>
</config>
